flask
Flask-WTF==0.14.3
WTForms==2.3.3
email_validator==1.1.1
pylint-flask==0.6
itsdangerous==1.1.0
Flask-mail==0.9.1
Flask-Reuploaded==0.3.2
flask-security==3.0.0
flask-login==0.5.0
jsmin==3.0.0
flask-assets==2.0
phonenumbers==8.12.13
rich==9.4.0
cssmin
idna
beautifulsoup4
requests==2.25.1
Flask-Session
flask-debugtoolbar
flask-praetorian
flask-principal==0.4.0
schedule==1.0.0
html5lib
whoosh
password-strength
pendulum>=2.1.2
sqlalchemy
#Flask-MonitoringDashboard Current dependency problems prohibits using this
Flask-Migrate==3.0.1
flask_sqlalchemy>=2.5.1
pdfkit
polib>=1.1.1
googletrans>=4.0.0-rc1
pytest
werkzeug==2.0.1
webargs
marshmallow
flask-cors==3.0.10
fuzzywuzzy[speedup]>=0.18.0