* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: grey;
}

.form-container {
    display: flex;
    height: 98vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-container .wrapper {
    background: #fff;
    width: 40%;
    padding: 15px 20px;
}

.form-container .wrapper h1 {
    text-align: center;
    margin: 0px 0px 20px;
    font-size: 19px;
}

.form-container .wrapper .form-sbmt {
    display: flex;
    justify-content: center;
}

.form-container .wrapper .form-box {
    padding: 10px 0 10px 5px;
}

.form-container .wrapper .form-box .sep {
    padding: 5px 0 5px;
}

.form-container .wrapper .form-box input[type="password"] {
    border: none;
    width: 50%;
}

.form-container .wrapper .form-box input[type="password"]:focus {
    border: none;
}

.form-container .wrapper .form-box i {
    position: absolute;
    transform: translateX(2295%);
}

.form-container .wrapper .form-box i.fas.fa-check {
    position: absolute;
    transform: translateX(2012%);
}

.form-container .wrapper .form-sbmt input[type="submit"] {
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}