@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.body-grid {
    display: grid;
    grid-template-rows: 5.25rem;
    justify-items: stretch;
    justify-content: space-evenly;
    transition: margin-left 0.5s ease-out;
}

.acc-info-cntnr {
    padding: 5px 10px;
}

.acc-info-cntnr>.acc-info-title {
    white-space: pre-line;
}

.acc-info-cntnr>.acc-info-title:nth-child(1) {
    letter-spacing: 3.4px;
    font-style: italic;
    user-select: none;
}

.text-body {
    margin: 1px;
    padding: 4px 8px;
}

.acc-info-cntnr .text-body>.text-wrap {
    letter-spacing: 1.1px;
    font-family: 'Montserrat', sans-serif;
}

#username-edit-btn,
#name-edit-btn,
#password-edit-btn {
    cursor: pointer;
}

.role-delete-all-btn,
#article-delete-all-sbmt {
    position: relative;
    margin: 1rem 1rem 1rem 1rem;
    bottom: 2.5rem;
    left: 5px;
    border: none;
    background: none;
    color: rgb(128, 128, 128);
    transition: 0.5s ease-in-out;
}

.role-delete-all-btn:hover,
#article-delete-all-sbmt:hover {
    color: rgb(0, 255, 255);
    font-style: italic;
}

.inner-delete-btn,
.inner-article-delete-btn {
    border: none;
    outline: none;
    background: none;
    color: rgb(128, 128, 128);
    cursor: pointer;
    transition: 0.5s;
}

.inner-delete-btn:hover,
.inner-article-delete-btn:hover {
    cursor: pointer;
    color: rgb(0, 255, 255);
}

#role-add-btn {
    position: relative;
    bottom: 1.5rem;
    left: 5.1rem;
    cursor: pointer;
}

#role-add-btn-icn.fa.fa-plus-square-o {
    transition: 0.5s;
}

#role-add-btn-icn.fa.fa-plus-square-o:hover {
    color: rgb(0, 255, 255);
}

#add-back-btn {
    cursor: pointer;
}

#add-back-btn-icn.fa.fa-minus-square-o {
    transition: 0.5s;
}

#add-back-btn-icn.fa.fa-minus-square-o:hover {
    color: rgb(0, 255, 255);
}

.article-search-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: rgb(128, 128, 128);
    transition: 0.5s ease-out;
}

.article-search-btn:hover {
    outline: none;
    color: rgb(0, 255, 255);
    cursor: pointer;
}

.article-dlt-a-sbmt {
    position: relative;
    top: 5px;
    left: 50px;
}

.ext-opt-align {
    position: relative;
    bottom: 10px;
}

.blacklist {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #DC143C;
    padding: 10px 25px;
    font-size: 14px;
    border: 1px solid #B22222;
    background-image: linear-gradient(bottom, #DC143C 0%, #D2122E 100%);
    background-image: -o-linear-gradient(bottom, #DC143C 0%, #D2122E 100%);
    background-image: -moz-linear-gradient(bottom, #DC143C 0%, #D2122E 100%);
    background-image: -webkit-linear-gradient(bottom, #DC143C 0%, #D2122E 100%);
    background-image: -ms-linear-gradient(bottom, #DC143C 0%, #D2122E 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #DC143C), color-stop(1, #D2122E));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 6px 0px #DC143C, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
    -moz-box-shadow: 0px 6px 0px #DC143C, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
    box-shadow: 0px 6px 0px #DC143C, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: rotateX(20deg);
}

.blacklist:hover {
    background-image: linear-gradient(bottom, #960018 0%, #B31B1B 100%);
    background-image: -o-linear-gradient(bottom, #960018 0%, #B31B1B 100%);
    background-image: -moz-linear-gradient(bottom, #960018 0%, #B31B1B 100%);
    background-image: -webkit-linear-gradient(bottom, #960018 0%, #B31B1B 100%);
    background-image: -ms-linear-gradient(bottom, #960018 0%, #B31B1B 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #960018), color-stop(1, #B31B1B));
}

.blacklist:active {
    -webkit-box-shadow: 0px 2px 0px #B22222, 0px 1px 6px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
    -moz-box-shadow: 0px 2px 0px #B22222, 0px 1px 6px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
    box-shadow: 0px 2px 0px #B22222, 0px 1px 6px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
    background-image: linear-gradient(bottom, #D2122E 0%, #B31B1B 100%);
    background-image: -o-linear-gradient(bottom, #D2122E 0%, #B31B1B 100%);
    background-image: -moz-linear-gradient(bottom, #D2122E 0%, #B31B1B 100%);
    background-image: -webkit-linear-gradient(bottom, #D2122E 0%, #B31B1B 100%);
    background-image: -ms-linear-gradient(bottom, #D2122E 0%, #B31B1B 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #D2122E), color-stop(1, #B31B1B));
    -webkit-transform: translate(0, 4px) rotateX(20deg);
    -moz-transform: translate(0, 4px);
    transform: translate(0, 4px);
}

span[name="sep"].title-header-sep-align {
    position: absolute;
    width: 55%;
}

span[name="sep"].acc-info-title-sep-align {
    position: absolute;
    width: 15em;
}

span[name="sep"].acc-roles-title-sep-align {
    position: absolute;
    width: 14.6em;
}

span[name="sep"].article-title-sep-align {
    position: absolute;
    width: 25.5em;
}