@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.body-grid {
    display: grid;
    grid-template-rows: 5.25rem;
    justify-items: stretch;
    justify-content: space-evenly;
    transition: margin-left 0.5s ease-out;
}

.acc-info-cntnr {
    padding: 5px 10px;
    z-index: -2;
}

.acc-info-cntnr>.acc-info-title {
    white-space: pre-line;
}

.acc-info-cntnr>.acc-info-title:nth-child(1) {
    letter-spacing: 3.4px;
    font-style: italic;
    user-select: none;
}

.acc-info-cntnr .text-body {
    margin: 1px;
    padding: 4px 8px;
}

.acc-info-cntnr .text-body>.text-wrap {
    letter-spacing: 1.1px;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.acc-info-cntnr .text-body information#prof-info span {
    transition: 0.5s;
}

.acc-info-cntnr .text-body information#prof-info span.info-name:hover,
.acc-info-cntnr .text-body information#prof-info span.info-email:hover,
.acc-info-cntnr .text-body information#prof-info span.info-password:hover,
.acc-info-cntnr .text-body information#prof-info span.info-active-status:hover,
.acc-info-cntnr .text-body information#prof-info span.info-acc-create:hover,
.acc-info-cntnr .text-body information#prof-info span.info-blacklist-status:hover {
    content: '';
    z-index: 10;
    font-style: italic;
    font-weight: 650px;
    font-size: 35px;
}

.lower-span-txt {
    pointer-events: none;
    z-index: -10;
    content: '';
    font-size: 10px;
    font-weight: 100px;
}

.prof-info-btn-clicked {
    letter-spacing: 1.1px !important;
    font-family: 'Montserrat', sans-serif !important;
    user-select: none !important;
}

.edit-icon {
    position: relative;
    left: 11em;
    bottom: 1.31rem;
    opacity: 1;
}

.edit-icon#edit-name-icn {
    transform: translateX(-0.9rem);
    transition: 0.5s;
}

.edit-icon#edit-email-icn {
    transform: translateX(5.95rem);
    transition: 0.5s;
}

.edit-icon#edit-pwd-icn {
    transform: translateX(-2.65rem);
    transition: 0.5s;
}

.edit-icon#edit-active-status-icn {
    transform: translateX(0.1rem);
    transition: 0.5s;
}

.edit-icon#edit-acc-created-date-icn {
    transform: translateX(3.99rem);
    transition: 0.5s;
}

.edit-icon#edit-blacklist-status-icn {
    transform: translateX(3.2rem);
    transition: 0.5s;
}

.edit-icon>.fa.fa-pencil-square-o {
    transition: 0.5s ease-out;
}

.edit-icon>.fa.fa-pencil-square-o:hover {
    cursor: pointer;
    color: rgb(0, 255, 255);
    opacity: 0.35;
}

.name-input,
.email-input,
.pwd-input,
.active-status-input,
.blacklist-status-input {
    border: .5px solid rgb(128, 128, 128);
    margin-right: 1em;
    margin-left: 1em;
    transition: .5s linear;
}

.name-input::placeholder,
.email-input::placeholder,
.pwd-input::placeholder,
.active-status-input::placeholder,
.blacklist-status-input::placeholder {
    font-style: italic;
    font-weight: 10pc;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-stretch: wider;
}

.name-input:focus,
.email-input:focus,
.pwd-input:focus,
.active-status-input:focus,
.blacklist-status-input:focus {
    outline: none;
    border: .5px solid rgb(0, 255, 255);
}

.name-sbmt-btn,
.email-sbmt-btn,
.pwd-sbmt-btn,
.active-status-sbmt-btn,
.blacklist-status-sbmt-btn {
    border: none;
    background: rgb(255, 255, 255);
    color: rgb(128, 128, 128);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 10pc;
    font-size: 14px;
    transition: .5s linear;
}

.name-sbmt-btn:hover,
.email-sbmt-btn:hover,
.pwd-sbmt-btn:hover,
.active-status-sbmt-btn:hover,
.blacklist-status-sbmt-btn:hover,
.name-sbmt-btn:focus,
.email-sbmt-btn:focus,
.pwd-sbmt-btn:focus,
.active-status-sbmt-btn:focus,
.blacklist-status-sbmt-btn:focus {
    border: none;
    outline: none;
    color: rgb(0, 255, 255);
}

.close-edit-name-icon,
.close-edit-email-icon,
.close-edit-pwd-icon,
.close-edit-active-status-icon,
.close-edit-blacklist-status-icon {
    position: relative;
    bottom: 2rem;
    color: rgb(128, 128, 128);
    transition: .5s;
}

.close-edit-name-icon:hover,
.close-edit-email-icon:hover,
.close-edit-pwd-icon:hover,
.close-edit-active-status-icon:hover,
.close-edit-blacklist-status-icon:hover {
    color: rgb(0, 255, 255);
    cursor: pointer;
}

.close-edit-name-align {
    position: relative;
    left: 22.1rem;
}

.close-edit-email-align {
    position: relative;
    left: 22rem;
}

.close-edit-pwd-align {
    position: relative;
    left: 24rem;
}

.close-edit-active-status-align {
    position: relative;
    left: 26rem;
}

.close-edit-blacklist-status-align {
    position: relative;
    left: 28rem;
}

span[name="sep"].title-header-sep-align {
    position: absolute;
    width: 55%;
}

span[name="sep"].acc-info-title-sep-align {
    position: absolute;
    width: 15em;
}

span[name="sep"].acc-roles-title-sep-align {
    position: absolute;
    width: 14.6em;
}

span[name="sep"].article-title-sep-align {
    position: absolute;
    width: 25.5em;
}