{% extends "layout.html" %} {% from "public/render/_render_form.html" import render_field %} {% block title %} Login | Private Website {% endblock %} {% block content %}
<div class="container">
    <form action="{{ url_for( 'loginPage' ) }}" method="POST" class="form-group">
        {{ form.csrf_token }}
        <div class="form-text" id="form-title">
            <h2>Login</h2>
        </div>
        <div class="form-text">
            {% if error %}
            <div class="error-box">
                <div id="error-msg" class="alert alert-danger">
                    <p>
                        <strong>{{ error }}</strong>
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
        <div id="flash-msg">
            <div id="msg">
                <div class="alert {{ alert_type }} alert-dismissible fade show">
                    {% for msg in get_flashed_messages() %} <strong> {{ msg }} </strong> {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">x</span>
                      </button>
                </div>
            </div>
        </div>
        {{ render_field(form.username) }} {{ render_field(form.password) }}
        <div class=" container ">
            <div id="log-in ">
                <p><button type="submit " class="login-btn btn-primary ">Log In</button></p>
            </div>
            <div id="register ">
                <p>
                    <button type="button " class="register-btn btn-secondary ">
                        <span id="register-wrapper " class="btn-link ">
                            <a href="{{ url_for( 'registerPage') }} " style="color:rgb(255,255,255) ">
                                Register
                            </a>
                        </span>
                    </button>
                </p>
            </div>
        </div>
    </form>
</div>
{% endblock %}