{% extends "public/layout.html" %} {% block title %} MyProjects | Page Not Found {% endblock %} {% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for( 'static', filename='styles/error_css/404/404.css' ) }}"> {% endblock %} {% block content %} {% include "public/web_util/_navbar.html" %}
<div class="container-404">
    <div class="container-404-img">
        <div class="img-404">
            <img draggable="false" src=" {{ url_for( 'static', filename='assets/svg/404-sad-face.svg' ) }} " alt="404-image" />
        </div>
        <div class="title-404-txt">
            <p>404</p>
        </div>
    </div>
    <div class="txt-subtxt-container-404">
        <div id="txt-subtxt-404">
            <div class="subhead-404">
                <p>Page Not Found</p>
            </div>
            <div class="info-msg-404">
                <p>
                    The Page you were looking for may not exist or may have been taken down.
                    <a class="info-msg-lnk-404" href="{{ redirect('/contact') }} ">Contact</a> support if you think this was a mistake.
                </p>
            </div>
        </div>
    </div>
    {% endblock %} {% block js %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js " integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s " crossorigin="anonymous "></script>
    {% endblock %}