 {% extends "private/base.html" %} {% block title %} MyProjects | {{ user.name }} Profile {% endblock %} {% block css %} {% assets "admin_edit_accounts_css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}"> {% endassets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap-grid.min.css" integrity="sha512-LLxZHu50SXdFJdAzHmDJAoLaozhTB4BYZPoN+xdTRjiPmPhI+1mEJXdoHHiDWmd/jj/9x10pkd8mYGG9sqfPPA==" crossorigin="anonymous"
    referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" />
<style>
    .body-grid {
        display: inline-flexbox;
        grid-template-rows: 5.25rem;
        justify-items: stretch;
        justify-content: space-evenly;
        transition: margin-left 0.5s ease-out;
    }
</style>
{% endblock %} {% block content %}
<div id="cntnr" class="body-grid">
    <div id="profile-title">
        <h1 id="acc-profile-title" class="page-title">Edit {{ user.name }} Account Profile</h1>
        <span name="sep" class="management-header-sep title-header-sep-align"></span>
    </div>
    <div id="info-cntnr" class="acc-info-cntnr">
        <div name="sub-title" class="acc-info-title">
            <h2 id="inf-title">Account Info</h2>
            <span name="sep" class="management-header-sep acc-info-title-sep-align"></span>
        </div>
        <div class="text-body">
            <!-- <i class="fa fa-pencil-square-o" aria-hidden="true"></i> -->
            <div id="prof-info" class="text-wrap">
                <table id="acc-info-tbl" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Information</th>
                            <th scope="col">Value</th>
                            <th scope="col">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Name: </th>
                            <td>{{ user.name }}</td>
                            <td>
                                <div id="name-edit-btn">
                                    <i name="acc-info-syml" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </div>
                            </td>
                            <tr>
                                <th scope="row">Username: </th>
                                <td>{{ user.username }}</td>
                                <td>
                                    <div id="username-edit-btn">
                                        <i name="acc-info-syml" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Password: </th>
                                <td>****</td>
                                <td>
                                    <div id="password-edit-btn">
                                        <i id="acc-info-syml" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Data Created: </th>
                                <td>{{ user.created_at }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Blacklist Status: </th>
                                <td>{{ user.blacklisted }}</td>
                                <td></td>
                            </tr>
                            {% if user.is_blacklisted %}
                            <tr>
                                <td colspan="4">
                                    <table id="nested-blacklist-info-tbl" class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">Information</th>
                                                <th scope="col">Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">Reason: </th>
                                                <td>{{ blacklist_info.reason | safe }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Date Blacklisted: </th>
                                                <td>{{ blacklist_info.date_blacklisted }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="role-table">
        <div id="role-tbl-title" class="role-ttle-cntnr">
            <h4 class="role-tbl-title">Account Roles</h4>
            <span name="sep" class="management-header-sep acc-roles-title-sep-align"></span>
        </div>
        <div class="table-cntnr">
            <table id="roles-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Role ID</th>
                        <th>Role Name</th>
                        <th>
                            <p id="role-select-all-txt" class="table-txt">Select</p> <input id="role-head-selectAll" type="checkbox" class="select-check" />
                            <div id="delete-all-btn-container"></div>
                            <div id="add-role-btn-container">
                                <div id="role-add-btn" onclick="addRoleExpand()"><i id="role-add-btn-icn" class="fa fa-plus-square-o" aria-hidden="true" aria-label="add-Role" title="add-Role"></i></div>{% if add_role_error %} {{ add_role_error | safe }} {% else %}
                                <p id="add-role-err-p" class="add-role-err err-txt"></p> {% endif %}</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for role in user.iter_roles() %}
                    <tr>
                        <td>{{ role.id }}</td>
                        <td>{{ role.name }}</td>
                        <td>
                            <form id="inner-delete-role-form" method="POST" action="{{ url_for('admin.adminAccountsUserManagement', user=user.name) }}">
                                {% if role.name == 'Member' %} {{ delete_role_forms.member_field }} {% elif role.name == 'Verified' %} {{ delete_role_forms.verified_field }} {% elif role.name == 'Unverified' %} {{ delete_role_forms.unverified_field }} {% elif role.name == 'Editor' %}
                                {{ delete_role_forms.editor_field }} {% endif %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Role ID</th>
                        <th>Role Name</th>
                        <th>Select <input id="role-foot-selectAll" type="checkbox" class="select-check" />
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="article-table">
        <div id="article-tbl=title" class="article-tbl-ttle-cntnr">
            <h4 class="article-tbl-title">Articles Made by: {{ user.name }}</h4>
            <span name="sep" class="management-header-sep article-title-sep-align"></span>
        </div>
        <div class="table-cntnr">
            <table id="article-table" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Article ID</th>
                        <th>Article Name</th>
                        <th>Article Desc</th>
                        <th>Created In:</th>
                        <th>Article Link </th>
                        <th id="srch-upper-cell">
                            <form id="article-srch-form" method="POST">
                                <p>
                                    Search:
                                </p>
                                {{ search_form.command }} {{ search_form.command_sbmt }}
                            </form>
                        </th>
                        <th>Select <input id="article-head-selectAll" type="checkbox" class="select-check" />
                            <div id="article-delete-all-container"></div>
                        </th>
                    </tr>
                </thead>
                <tbody id="article-tbody">
                    {% for article in article_info %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td> {{ article.title }}</td>
                        <td>{{ article.short_desc }}</td>
                        <td>{{ article.create_date }}</td>
                        <td><a class="article-tbl-item-link" href="{{ url_for('main_app.articlePage', id=article.id) }}"><i class="fa fa-link" aria-hidden="true"></i></a></td>
                        <td></td>
                        <td>
                            <form id="{{ article.id }}-delete-form" method="POST" action="{{ url_for('admin.adminAccountsUserManagement') }}/?user={{ user.name }}&actions.action='delete'&actions.item_id={{ article.id }}">
                                {{ delete_article_forms.delete_article }}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Article ID</th>
                        <th>Article Name</th>
                        <th>Article Desc</th>
                        <th>Created In</th>
                        <th>Article Link</th>
                        <th></th>
                        <th>Select <input id="article-foot-selectAll" type="checkbox" class="select-check" /></th>
                    </tr>
                </tfoot>
            </table>
            <div id="article-tbl-pagination">
                <nav aria-label="Article-Table-Pagination">
                    <ul class="pagination">
                        {% if article_info.has_prev %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('admin.adminAccountsUserManagement') }}/?user={{ user.name }}&page={{ article_info.next_num }}">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link btn disabled" href="#">Previous</a>
                        </li>
                        {% endif %} {% for page in article_info.iter_pages(left_edge=4, right_edge=4) %} {% if page %} {% if page == article_info.page %}
                        <li class="page-item active">
                            <a class="page-link" href="{{ url_for('admin.adminAccountsUserManagement') }}/?user={{ user.name }}&page={{ page }}">
                                        {{ page }}
                                </a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('admin.adminAccountsUserManagement') }}/?user={{ user.name }}&page={{ page }}">
                                        {{ page }}
                                </a>
                        </li>
                        {% endif %} {% else %}
                        <li id="ellipsis" class="page-item disabled">
                            <a class="page-link" href="#">...</a>
                        </li>
                        {% endif %} {% endfor %} {% if article_info.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('admin.adminAccountsUserManagement') }}/?user={{ user.name }}&page={{ article_info.next_num }}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link btn disabled" href="#">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <hr>
    <div id="ext-option-menu" class="ext-opt-align">
        {% if user.blacklisted %} {{ ext_options.unblacklist }} {% else %} {{ ext_options.blacklist }}
        </form>
        {% endif %}
    </div>
</div>
{% endblock %} {% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script type="text/javascript">
    (function() {
        $('input[type=checkbox]#article-head-selectAll').click(function() {
            $("input[type=checkbox]#article-foot-selectAll").prop('checked', $(this).prop('checked'));
        });
        $('input[type=checkbox]#article-foot-selectAll').click(function() {
            $("input[type=checkbox]#article-head-selectAll").prop('checked', $(this).prop('checked'));
        });
    })();

    (function() {
        $('input[type=checkbox]#role-head-selectAll').click(function() {
            $("input[type=checkbox]#role-foot-selectAll").prop('checked', $(this).prop('checked'));
        });
        $('input[type=checkbox]#role-foot-selectAll').click(function() {
            $("input[type=checkbox]#role-head-selectAll").prop('checked', $(this).prop('checked'));
        });
    })();
</script>
<script type="text/javascript">
    (function() {
        $(document).ready(function() {
            $("#role-head-selectAll").click(function() {
                if ($(this).prop("checked")) {
                    $("#delete-all-btn-container").append("<form id='delete-all-role-form' method='POST' onsubmit='return confirm_deletion()' action='{{ url_for('admin.adminAccountsUserManagement') }}?user={{ user.name }}'>" + '{{ role_form.delete_all() }}' + "</form>");
                    $("#role-add-btn-icn").css("opacity", 0);
                    $("#role-add-btn-icn").css("cursor", "default");
                    $("#role-add-btn").css("cursor", "default");
                } else {
                    $("#role-add-btn-icn").css("opacity", 1);
                    $("#role-add-btn-icn").css("cursor", "pointer");
                    $("#role-add-btn").css("cursor", "pointer");
                    $("#delete-all-btn-container").empty()
                }
            });
            $("#role-foot-selectAll").click(function() {
                if ($(this).prop("checked")) {
                    $("#delete-all-role-btn-container").append("<form method='POST' action='{{ url_for('admin.adminAccountsUserManagement') }}?user={{ user.name }}'>" + '{{ role_form.delete_all(onclick="confirm_deletion()") }}' + "</form>");
                    $("#role-add-btn-icn").css("opacity", 0);
                    $("#role-add-btn").css("cursor", "default");
                    $("#role-add-btn-icn").css("cursor", "default");
                } else {
                    $("#role-add-btn-icn").css("opacity", 0);
                    $("#role-add-btn").css("cursor", "pointer");
                    $("#role-add-btn-icn").css("cursor", "pointer");
                    $("#delete-all-btn-container").empty();
                }
            })
        });
    })();
</script>
<script type="text/javascript">
    function addRoleCollapse() {
        $(document).ready(function() {
            $("#add-back-btn").click(function() {
                $("#role-head-selectAll").attr('type', 'checkbox');
                $("#role-select-all-txt").empty();
                $("#role-select-all-txt").append("Select");
                $("#add-role-btn-container").empty();
                $("#add-role-btn-container").append("<div id='role-add-btn' onclick='addRoleExpand()'><i id='role-add-btn-icn' class='fa fa-plus-square-o' aria-hidden='true' aria-label='add-Role' title='add-Role'></i></div>");
            });
        });
    }

    function addRoleExpand() {
        $(document).ready(function() {
            $("#role-add-btn").click(function() {
                $("#role-head-selectAll").attr('type', 'hidden');
                $("#role-select-all-txt").empty();
                $("#role-select-all-txt").append("Add Role");
                $("#add-role-btn-container").empty();
                $("#add-role-btn-container").append("<form id='add-role-form' method='POST' action='{{ url_for('admin.adminAccountsUserManagement') }}?user={{ user.name }}'>" + '{{ role_form.add_role }}' + '{{ role_form.add_role_sbmt }}' + "</form><div id='add-back-btn' onclick='addRoleCollapse()'><i id='add-back-btn-icn' class='fa fa-minus-square-o' aria-hidden='true' aria_label='back'></i></div>");
            });
        });
    }
</script>
<script type="text/javascript">
    (function() {
        $(document).ready(function() {
            $("#article-head-selectAll").click(function() {
                if ($(this).prop("checked")) {
                    $("#article-delete-all-container").append("<form id='delete-all-article-form' method='post' onsubmit='return confirm_deletion()' action='{{ url_for('admin.adminAccountsUserManagement') }}?user={{ user.name }}'>" + '{{  delete_article_forms.delete_all() }}' + "</form>");
                } else {
                    $("#article-delete-all-container").empty();
                }
            });
            $("#article-foot-selectAll").click(function() {
                if ($(this).prop("checked")) {
                    $("#article-delete-all-container").append("<form id='delete-all-article-form' method='post' onsubmit='return confirm_deletion()' action='{{ url_for('admin.adminAccountsUserManagement') }}?user={{ user.name }}'>" + '{{  delete_article_forms.delete_all() }}' + "</form>");
                } else {
                    $("#article-delete-all-container").empty();
                }
            });
        });
    })();
</script>
<script type="text/javascript">
    function confirm_deletion() {
        if (confirm("Are you sure you want to delete ALL roles from {{ user.name }}?")) {
            console.log("submitting");
            $("#delete-all-article-form").submit();
            console.log("submitted");
        } else {
            return false;
        }
    }

    $("#blacklist-btn").click(function() {
        $.confirm({
            title: 'Confirm Blacklist',
            draggable: false,
            columnClass: 'small',
            animation: 'rotateYR',
            closeAnimation: 'rotateXR',
            animationSpeed: 1500,
            content: '' +
                '<form id="blacklist-form" method="POST" action="{{ url_for("admin.adminAccountsUserManagement") }}?user={{ user.name }}">' +
                '<div class="form-group">' +
                '<label> Reason for Blacklist:</label>' +
                '{{ ext_options.reason }}' +
                '</div>' +
                '</form>',
            buttons: {
                formSubmit: {
                    text: 'Submit',
                    btnClass: 'btn-danger',
                    keys: ['enter'],
                    action: function() {
                        $.alert("Blacklist confirmed");
                        $.ajax({
                            method: 'POST',
                            url: "{{ url_for('admin.adminAccountsUserManagementProcessBlacklist', client=user.name) }}",
                            data: {
                                'type': 'blacklist',
                                'user': "{{ user.name }}",
                                'reasons': $("#reason-field").val()
                            }
                        }).done(setTimeout(function() {
                            location.reload(true);
                        }, 1500));
                    }
                },
                cancel: function() {},
            },
            onContentReady: function() {
                let jc = this;
                this.$content.find('form').on('submit', function(e) {
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click');
                });
            }
        });
    });

    $("#unBlacklist-btn").click(function() {
        $.confirm({
            title: 'Confirm unBlacklist',
            draggable: false,
            columnClass: 'small',
            animation: 'rotateYR',
            closeAnimation: 'rotateXR',
            animationSpeed: 1500,
            content: '' +
                '<form id="unblacklist-form" method="POST" action="{{ url_for("admin.adminAccountsUserManagement") }}?user={{ user.name }}">' +
                '<div class="form-group">' +
                '<label> Reason for unBlacklist:</label>' +
                '{{ ext_options.reason }}' +
                '</div>' +
                '</form>',
            buttons: {
                formSubmit: {
                    text: 'Submit',
                    btnClass: 'btn-danger',
                    keys: ['enter'],
                    action: function() {
                        $.alert("unBlacklist confirmed");
                        $.ajax({
                            method: 'POST',
                            url: "{{ url_for('admin.adminAccountsUserManagementProcessBlacklist', client=user.name) }}",
                            data: {
                                'type': 'unBlacklist',
                                'user': "{{ user.name }}",
                                'reasons': $("#reason-field").val()
                            }
                        }).done(setTimeout(function() {
                            location.reload(true);
                        }, 1500));
                    }
                },
                cancel: function() {},
            },
            onContentReady: function() {
                let jc = this;
                this.$content.find('form').on('submit', function(e) {
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click');
                });
            }
        });
    });
</script>
<script type="text/javascript">
    $(document).on('submit', '#article-srch-form', function(e) {
        e.preventDefault();
        $.ajax({
            method: 'POST',
            url: '{{ url_for("admin.adminAccountsUserManagementProcessSearch") }}',
            data: {
                'search_data': $("#table-search").val()
            }
        }).done(function(data) {
            $("#article-tbody").fadeOut(5).fadeIn(1000);
            $("#article-tbody").html(data);
        });
    });
</script>
{% assets "edit_prof_main_js" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %} {% endblock %}