{% extends "base.html" %} {% block title %} MyProjects Accounts Management {% endblock %} {% block css %} {% assets "admin_articles_css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}"> {% endassets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> {% endblock %} {% block content %} {% include "admin/navbar/navbar.html" %}
<div id="cntnr" class="management-container">
    <div class="management-title-header">
        <h1 id="acc-title" class="page-title">Accounts Manegement</h1>
        <span id="sep" class="management-title-header-sep"></span>
    </div>
    <div id="body-content" class="management-body-container body-cfg">
        <p>Coming Soon</p>
    </div>
</div>
{% endblock %} {% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/ext/admin/navalign.js') }}"></script>
{% endblock %}