{% extends "public/layout.html" %} {% from "public/render/_render_form.html" import render_field %} {% include "public/web_util/_navbar.html" %} {% block title %} MyProjects | Forgot Password {% endblock %} {% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/forgot.css') }}"> {% endblock %} {% block content %}
<div class="form-container">
    <form action="{{ url_for('main_app.initialForgotPage') }}" method="POST" class="form-wrap">
        {{ field.csrf_token }}
        <h2>Forgot Password?</h2>
        <div class="form-box">
            {{ render_field( field.email ) }}
        </div>
        <div class="form-sbmt">
            {{ render_field( field.submit )}}
            <div class="bckbtn">
                {{ render_field( field.back_button )}}
            </div>
        </div>
    </form>
</div>
{% endblock %} {% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
{% assets "main__js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %} {% endblock %}