<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="language" content="english">
    <meta http-equiv="content-type" content="text/html">
    <meta name="author" content="Sergio Ley">
    <meta name="designer" content="Sergio Ley">
    <meta name="publisher" content="Sergio Ley">
    <meta name="distribution" content="private">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %} {% block js %}{% endblock %}
</body>

</html>