.management-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -51.85rem;
    transition: margin-left 0.5s;
}

.management-header-sep {
    height: 2px;
    background: rgb(128, 128, 128);
    transition: background-color 0.8s ease-in-out;
}

.management-container .management-title-header {
    display: flex;
    align-items: baseline;
    padding: 10px;
    margin-left: 50rem;
}

.management-container .management-title-header span.title-header-sep-align {
    display: flex;
    position: absolute;
    width: 55%;
    transform: translate(-2px, 2110%);
}

.management-container .management-body-container {
    display: flex;
    align-items: flex-end;
    position: relative;
    top: 4.69rem;
    right: 37.32rem;
    transition: right 0.5s;
}

.management-container .management-body-container>#acc-tbl-cntnr>.acc-lbl #header-sep span.lbl-sep-align {
    display: flex;
    position: absolute;
    width: 13.75rem;
    transform: translate(-1%, 743%);
}