* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sep-position-type: absolute;
}

.body-grid {
    display: grid;
    grid-template-rows: 5.25rem;
    justify-items: stretch;
    justify-content: space-evenly;
    transition: margin-left 0.5s ease-out;
}

span[name="sep"].title-header-sep-align {
    position: var(--sep-position-type);
    width: 55%;
}

span[name="sep"].acc-info-title-sep-align {
    position: var(--sep-position-type);
    width: 15em;
}

span[name="sep"].acc-roles-title-sep-align {
    position: var(--sep-position-type);
    width: 14.6em;
}

span[name="sep"].article-title-sep-align {
    position: var(--sep-position-type);
    width: 25.5em;
}