{% extends "public/layout.html" %} {% from "public/render/_render_form.html" import render_field %} {% block title %} MyProjects | Article Registration {% endblock %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/articles_form.css')}}">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet"> {% endblock %} {% block content %}
<div class="article-form">
    <form id="article-form" action="{{ url_for('main_app.articleCreation') }}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <h1>Create Your Article</h1>
        <div class="txtb">
            <label>Title:</label> {{ render_field(form.title, novalidate=True) }}
        </div>
        <div class="txtb">
            <label>Author:</label> {{ current_user.name }}
        </div>
        <div class="txtb">
            <label>Short Description:</label> {{ render_field(form.short_desc, novalidate=True) }}
        </div>
        <div class="txtb">
            <label>Title_Image:</label> {{ render_field(form.front_image, novalidate=True) }}
        </div>
        <div class="txtb">
            <label>Body:</label>
            <textarea id="summernote" name="editordata"></textarea>
        </div>
        <div class="submit-btn">
            <input type="submit" value="Submit Article" />
        </div>
    </form>
</div>
{% endblock %} {% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="{{ current_app.static_url_path }}/js/ext/summernote/plugin/plugin.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#summernote').summernote({
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'videoUpload']],
                ['misc', ['undo', 'redo']],
                ['view', ['fullscreen', 'codeview', 'help']],
            ],
            placeholder: 'Type Article...',
            dialogsInBody: true
        });
    });
</script>
{% endblock %}