{% extends "layout.html" %} {% from "render/_render_form.html" import render_field %} {% block title %} Login | Private Website {% endblock %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css')}}"> {% endblock %} {% block content %}
<div class="center-container">
    <form action="{{ url_for( 'loginPage' ) }}" method="POST">
        {{ form.csrf_token }}
        <h1>Login</h1>
        <div id="message_boxes">
            {% if error %}
            <div id="error">
                <div id="error-msg" class="error-box">
                    <p>
                        <strong>{{ error }}</strong>
                    </p>
                </div>
            </div>
            {% endif %} {% if alert_type %}
            <div id="success">
                <div id="success_msg" class="success-box">
                    <p>
                        <strong>{{ alert_type }}</strong>
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="txt-field">
            {{ render_field(form.username) }}
            <label> Username </label>
            <span></span>
        </div>
        <div class="txt-field">
            {{ render_field(form.password) }}
            <label> Password </label>
            <span></span>
        </div>
        <div class="forgot-pass">
            Forgot password?
        </div>
        <input type="submit" value="Login">
        <div class="sign-up">
            Not a member? <a href="/register">Register</a>
        </div>
    </form>
</div>
{% endblock %}