{% extends "layout.html" %} {% from "render/_render_form.html" import render_field %} {% from "render/_render_alert.html" import render_alert %} {% include "web_util/_navbar.html" %} {% block title %} Login | Private Website {% endblock %} {% block css
%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css')}}"> {% assets "alert__css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}"> {% endassets %} {% endblock %} {% block content %}
<div class="center-container">
    <form action="{{ url_for( 'loginPage' ) }}" method="POST">
        {{ form.csrf_token }}
        <h1>Login</h1>
        {% if error %}
        <div class="box message-error-bx">
            <div id="custom-error-msg" class="error-txt">
                <p>
                    <strong>{{ error }}</strong>
                </p>
            </div>
        </div>
        {% endif %} {% if alert_msg %} {{ render_alert( alert_type, alert_msg ) }} {% endif %}
        <div class="txt-field">
            {{ render_field(form.username) }}
            <label> Username </label>
            <span></span>
        </div>
        <div class="txt-field">
            {{ render_field(form.password) }}
            <label> Password </label>
            <span></span>
        </div>
        <div class="forgot-pass">
            <a href="/login/forgotpwd"> Forgot password? </a>
        </div>
        <input type="submit" value="Login">
        <div class="sign-up">
            Not a member? <a href="/register">Register</a>
        </div>
    </form>
</div>
{% endblock %} {% block js %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
{% endblock %}