{% extends "layout.html" %} {% from "render/_render_form.html" import render_field %} {% block title %} Registration {% endblock %}{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css')}}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"> {% endblock %} {% block content %}

<div class="center">
    <form action="{{ url_for( 'registerPage' ) }}" method="POST">
        {{ form.csrf_token }}
        <div class="header">
            <h1> Registration </h1>
        </div>
        {{ render_field(form.name) }}
        <i class="fas fa-user"></i> {{ render_field(form.email) }}
        <i class="far fa-envelope"></i> {{ render_field(form.password) }}
        <i class="fas fa-lock" onclick="show_pass()"></i> {{ render_field(form.confirm_pass )}}
        <i class="fas fa-check" onclick="show_confirm()"></i> {{ form.recaptcha }}

        <ul>
            {% for error in form.recaptcha.errors %}
            <li style=" color: red; ">{{ error }}</li>
            {% endfor %}
        </ul>
        <input type="submit" value="Register" />
        <a href="/">Back to login</a>

        <script src="{{ url_for('static', filename='js/static.js') }}" type="text/javascript"></script>
    </form>
</div>

{% endblock %}