{% extends "layout.html" %} {% from "render/_render_form.html" import render_field %} {% block title %} Registration {% endblock %}{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css')}}"> {% endblock %} {% block content %}

<div class="center-container">
    <form action="{{ url_for( 'registerPage' ) }}" method="POST">
        {{ form.csrf_token }}
        <div class="form-text">
            <h1 id="form-title"> Registration </h1>
        </div>
        <div class="txt-field">
            {{ render_field(form.name) }} {{ render_field(form.email) }} {{ render_field(form.password) }} {{ render_field(form.confirm_pass )}} {{ form.recaptcha }}

            <ul>
                {% for error in form.recaptcha.errors %}
                <li style=" color: red; ">{{ error }}</li>
                {% endfor %}
            </ul>
            <input type="submit" value="Register" />

        </div>

    </form>
</div>

{% endblock %}